@import "~bootstrap/scss/bootstrap.scss";

#trafficTop {
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 75px;
}

#container {
    background-color: black;
    width: 56px;
    height: 178px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}

.light {
    widows: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red{background-color: #990000;}
    &.yellow{background-color: #cddb09;}
    &.green{background-color: #0add50;}
    &.selected{background-color: #f8ffcc 0px 0px 50px 20px;}
}